<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HMRSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HMRScrollFeedView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2079DA0018E6BB31004C71F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2079DA1018E6BB31004C71F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2079DA2D18E6BB58004C71F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2079DA4A18E6BB59004C71F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
